$colors: (
    common: (
        color-blue: #2494E4,
        color-indigo: #9B51E0,
        color-purple: #8121FB,
        color-pink: #d63384,
        color-red: #FF2E2E,
        color-orange: #fd7e14,
        color-yellow: #FAB123,
        color-green: #12BB6A,
        color-teal: #219653,
        color-cyan: #0dcaf0,
        color-white: #fff,
        color-gray: #E7EFFC,
        color-gray-2: #F4F7FB,
        color-gray-3: #F5F7FB,
        color-dark: #061E43,
        color-black: #000,
    ),
    body: (
        color: #39557E,
    ),
    heading: (
        color: #082A5E,
    ),
    theme: (
        primary: #1363DF,
        secondary: #082A5E,
    ),
    border: (
        1: #ECECEC,
        2: #D0DAE9,
        3: #E2E2E2,
        4: #D7DCE3,
        5: #2F466A,
    )
);
